form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 35%;
  width: calc(30%);
}

fieldset {
  border-radius: 10px;
}

input[type="number"] {
  width: 3rem;

}

input[type="submit"] {
  margin: 1rem;
  margin-left: 0rem;
  width: 4rem;
}

#ipInput_id {
  display: flex;

  margin: 1rem;
  margin-left: 0rem;
  margin-top: 0rem;
  justify-content: center;
}